<h1> Your booking!  %></h1>

<div class="container">
<h1 class="text-center"><%=@toilet.user.first_name%> <%=@toilet.user.last_name%> welcomes you at <%=@toilet.name%></h1>
<h2 class="text-center">Book a s***t 🚽</h2>
  <div class="form-container">
    <%= simple_form_for ([@toilet, @booking]) do |f| %>
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
      <%= f.input :date, label: 'Start', as: :datetime %>
            </div>
            <div class="mb-3">
      <%= f.input :duration, label: 'End', as: :datetime %>
            </div>
      <%= f.submit 'Book a s***t', class: "btn-submit btn-success"%>
        </div>
    </div>
    <% end %>
  </div>
</div>
