
<head></head>
<!-- Source of the code = > https://startbootstrap.com/snippets/video-header -->
<body>
<!-- SECTION 1 VIDEO BANNER -->
  <div class="overlay">
  </div>
  <div class="video-container">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://res.cloudinary.com/oneiri-ug/video/upload/v1654118927/toilet-paper.mov" type="video/mp4">
    </video>
    <div class="video-overlay-card"><br>
      <div class="video-banner-logo">
        <%= image_tag("eztoiletlogo") %>
        <% if user_signed_in? %>
          <%= link_to "Toilet of your dreams ✨", toilets_path, class: "btn-submit small"%>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn-submit" %>
          <div class="mt-4">
          <p>Are you new here?</p>
          <%= link_to "Sign up", new_user_registration_path, class: "btn-submit"%>
        </div>
        <% end %>
      </div>
      <div class="btn-header-submit">Discover EZToilet!</div>
    </div>
  </div>

<!-- SECTION 2 CONTENT CONTAINER -->
  <div class="content-container">
    <div class="title"><h1>Discover EZToilet</h1></div>
    <div class="homepage-cards-container">
      <div class="homepage-cards">
        <% @toilets.each do |toilet| %>
        <%= link_to toilet_path(toilet) do %>
          <div class="homepage-card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path toilet.photos.first.key, height: 300, crop: :fill %>')"></div>
            <div class="information ps-3 d-flex justify-content-space-between">
              <div class="informations">
                <div class="name"><h4><%= toilet.name %></h4></div>
                <div class="description"><p><%= toilet.description.truncate(30) %></p></div>
                <div class="price"><p><%= toilet.price %></p></div>
              </div>
              <div class="rating">
                <p><%= toilet.rating%></p>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="btn-home-submit py-3" >I want my EZToilet, now!</div>
  </div>
</body>
<div class="footer"></div>


<!-- OLD VERSION OF THE HOMEPAGE - CARROUSSEL
<div class="container">
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>With EZToilet, you will be able to s*** everywhere!</p>
        <p class="mb-0">
          Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
        </p>
      </div>
    </div>
  </div>
</section>
</div>
</div>
<div class="container">
  <div class="title">
    <%= image_tag("eztoiletlogo") %>
    <h2>Take a S*** ! (sit)</h2>
  </div>

  <div class="homepage-container">
  <div class="main-img">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to toilet_path(@toilets_samples[0]) do %>
            <div class="card">
                <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[0].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[1]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[1].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[2]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[2].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[3]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[3].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="main-button">
    <div class="btn btn-success center">
      <%= link_to "Pick up your toilet !", toilets_path, class: "text-decoration-none btn-success"  %>
    </div>
  </div>
</div>
-->
