
<head></head>
<!-- Source of the code = > https://startbootstrap.com/snippets/video-header -->
<body>
<!-- SECTION 1 VIDEO BANNER -->
  <div class="overlay">
  </div>
  <div class="video-container">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://res.cloudinary.com/oneiri-ug/video/upload/v1654118927/toilet-paper.mov" type="video/mp4">
    </video>
    <div class="video-overlay-card"><br>
      <div class="video-banner-logo">
        <%= image_tag("eztoiletlogo.png") %>
        <% if user_signed_in? %>
          <%= link_to "Toilet of your dreams ✨", toilets_path, class: "btn-submit small"%>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn-submit" %>
          <div class="mt-4">
          <p>Are you new here?</p>
          <%= link_to "Sign up", new_user_registration_path, class: "btn-submit"%>
        </div>
        <% end %>
      </div>
      <div class="btn-header-submit">Discover EZToilet!</div>
    </div>
  </div>

<!-- SECTION 2 CONTENT CONTAINER -->
  <div class="content-container">
    <div class="title"><h1>Discover EZToilet</h1></div>
    <div class="homepage-cards-container">
      <div class="homepage-cards">
        <% @toilets.each do |toilet| %>
        <%= link_to toilet_path(toilet) do %>
          <div class="homepage-card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path toilet.photos.first.key, height: 300, crop: :fill %>')"></div>
            <div class="information ps-3 d-flex justify-content-space-between">
              <div class="informations">
                <div class="name"><h4><%= toilet.name %></h4></div>
                <div class="description"><p><%= toilet.description.truncate(30) %></p></div>
                <div class="price"><p><%= toilet.price %> <%= toilet.currency %></p></div>
              </div>
              <div class="rating">
                <p><%= toilet.rating%></p>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to "I want my EZToilet, now!", toilets_path, class: "btn-home-submit py-3"%>
  </div>
</body>
<div class="footer"></div>
