<div class="container">
  <div class="title">
    <%= image_tag("eztoiletlogo") %>
    <h2>Take a S*** ! (sit)</h2>
  </div>
  <div class="main-img">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to toilet_path(@toilets_samples[0]) do %>
            <div class="card">
                <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[0].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[1]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[1].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[2]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[2].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[3]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[3].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="main-button">
    <div class="btn btn-success center">
      <%= link_to "Pick up your toilet !", toilets_path, class: "text-decoration-none btn-success"  %>
    </div>
  </div>
</div>
