<!-- The header content -->
<!-- Source of the code = > https://startbootstrap.com/snippets/video-header -->
<header>
<!-- I've added this class above the pasted code and changed the order to see what I was writing -->
  <div class="d-flex container-fluid">
    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>
<!-- TO DO: need to solve the problem of the box + text which not appears on the video TICKETS TO OPEN -->
<!--Text -->
     <div class="d-flex container h-100" class="center" class="text-banner-container">
        <!-- <div class="d-flex h-100 text-center align-items-center"> -->
          <!-- <div class="w-100"> -->
          <!-- I've added this class and modified the pasted code to sfit with our graphic design font/colors -->
        <div class="d-flex">
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://res.cloudinary.com/oneiri-ug/video/upload/v1654118927/toilet-paper.mov" type="video/mp4">
          </video>

          <div class="video-title"  >
          <h1> Take a S***!(sit) with EZToilet </h1>
          <p class="header-p"> With EZToilet, you will be able to s*** wherever you want! <br> In only, <a href="../app/views/toilets/index.html.erb" target="blank"> 1 click </a>, choose the EZToilet of your dreams! </p>
             <!-- I've added a button to the  pasted code -->
             <!-- TO DO: button should link to internal part of the homepage -->
          <div class="btn-header-submit">Discover EZToilet!<div>
        </div>
      </div>
    </div>
<!-- The HTML5 video element that will create the background video on the header -->
  </div>
</div>
</header>

<!-- Now let's code the body!-->
<div class="body-wrapper" class="d-flex container-fluid">
  <body>
  <!-- First container -->
    <div class="title">
      <h1>Discover our EZtoilets!</h1>
    </div>
      <!-- TO DO : add a grid / Ask Grazia, Stephen or Adrien-->
    <div class="cards-container-homepage">
      <div class="cards-1line">
        <% @toilets.each do |toilet| %>
        <%= link_to toilet_path(toilet) do %>
          <div class="card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path toilet.photos.first.key, height: 300, crop: :fill %>')">
            </div>
            <div class="information ps-3 d-flex justify-content-space-between">
              <div class="infomations">
                <div class="name"><h4><%= toilet.name %></h4></div>
                <div class="description"><p><%= toilet.description.truncate(30) %></p></div>
                <div class="price"><p><%= toilet.price %></p></div>
              </div>
              <div class="rating">
                <p><%= toilet.rating%></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
      </div>
    </div>
      <!-- TO DO : solve the bug - Code the button -->
    <div class="btn">
      <%= link_to "I want to see more EZtoilets!", toilets_path, class: "text-decoration-none btn-submit" %>
    </div>
  </body>
</div>

<div class="footer">

</div>




<!-- OLD VERSION OF THE HOMEPAGE
<div class="container">
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>With EZToilet, you will be able to s*** everywhere!</p>
        <p class="mb-0">
          Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
        </p>
      </div>
    </div>
  </div>
</section>
</div>
</div>
<div class="container">
  <div class="title">
    <h1>EZToilet</h1>
    <h2>Take a S*** ! (sit)</h2>
  </div>

  <div class="homepage-container">
  <div class="main-img">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to toilet_path(@toilets_samples[0]) do %>
            <div class="card">
                <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[0].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[1]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[1].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[2]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[2].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to toilet_path(@toilets_samples[3]) do %>
            <div class="card">
              <div class="card-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilets_samples[3].photos.first.key, width: 400, height: 300, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="main-button">
    <div class="btn btn-success center">
      <%= link_to "Pick up your toilet !", toilets_path, class: "text-decoration-none btn-success"  %>
    </div>
  </div>
</div>
-->
