<div class="marker-img-container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path toilet.photos.first.key, width: 150, height: 100 %>')">
  <h3><%= toilet.name %></h3>
</div>
<div class="markeraddress">
  <p><%= toilet.address %></p>
</div>
<div class="markerprice">
  <h5><%= toilet.price %></h5>
</div>
<%= link_to "Take the plunge...", toilet_path(toilet), class:"btn-info" %>
