<div class="container">
  <%= form_tag toilets_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a toilet"
    %>
    <%= submit_tag "Search", class: "btn-submit" %>
  <% end %>
  <div class="cards-container">
    <div class="cards">
      <% @toilets.each do |toilet| %>
        <%= link_to toilet_path(toilet) do %>
          <div class="card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path toilet.photos.first.key, height: 300, crop: :fill %>')">
            </div>
            <div class="information ps-3 d-flex justify-content-space-between">
              <div class="infomations">
                <div class="name"><h4><%= toilet.name %></h4></div>
                <div class="description"><p><%= toilet.description.truncate(30) %></p></div>
                <div class="price"><p><%= toilet.price %></p></div>
              </div>
              <div class="rating">
                <p><%= toilet.rating%></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
