<div class="container">
  <div class="cards-container">
    <div class="cards">
      <% @toilets.each do |toilet| %>
        <%= link_to toilet_path(toilet) do %>
          <div class="card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path toilet.photos.first.key, height: 300, crop: :fill %>')">
            </div>
            <div class="information">
              <div class="name"><h4><%= toilet.name %></h4></div>
              <div class="description"><p><%= toilet.description %></p></div>
              <div class="price"><p><%= toilet.price %></p></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
