<div class="container">
  <div class="row">
    <div class="col-12">
    <h1 class="text-center"><%=@toilet.name%></h1>
    <div class="carousel-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilet.photos.first.key, height: 300 %>')">
    </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <% if current_user == @toilet.user%>
        <h3>Welcome, <%= @toilet.user.first_name %> <%= @toilet.user.last_name %>, what you would like to do for your toilet?</h3>
          <p>
            <%=link_to "Update 🚽", edit_toilet_path(@toilet), class: "btn-submit"%>
            <%=link_to "New Feature ✨", new_toilet_feature_path(@toilet), class: "btn-submit"%>
            <%=link_to "Bookings 📩", dashboard_path,  class: "btn-submit"%>
          </p>
      <% elsif current_user.nil? %>
        <h3>You need to be logged in to book a toilet!</h3>
      <% else %>
        <h3>Welcome, <%= current_user.first_name %>!</h3>
      <% end %>
      <div class="container-details">

          <p>
            <strong>Brief Description:</strong> <%=@toilet.description%> - <strong>Cost:</strong> <%=@toilet.price%> <%=@toilet.currency%>
          </p>
          <p>
            Features:
            <%= render "features/index"%>
          </p>

      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
      <% if current_user == @toilet.user%>
      <% elsif current_user.nil? %>
        <div class="p-3">
          <h5>Please log in for booking options</h5>
      <% else %>
        <div class="p-3">
          <%= render "bookings/new" %>
        </div>
      <% end %>
      </div>

    <div class="col-12 review-container" data-controller="reviews">
        <% if @reviews.empty? %>
          <div class="review-first-container" data-reviews-target="review">
          </div>
        <% else %>
          <h3 class="text-center">
            <% @toilet.reviews.each do |review|%>
              <% @average_rating+=review.rating %>
            <% end %>
              <% @average_rating = (@average_rating.fdiv(@toilet.reviews.size)).round(2) %>
              <%= @average_rating %> <i class="fas fa-star"></i> <span class="pink-dot">•</span> <%= @toilet.reviews.size %> reviews
          </h3>
          <div class="review-cards-container" data-reviews-target="review">
            <% @reviews.each do |review| %>
              <%= render "review", review: review%>
            <% end %>
          </div>
        <% end %>
      <div data-controller="newreview">
        <div class="container-rating">
          <% current_user.bookings.each do |booking| %>
            <% if booking.toilet == @toilet && booking.status == "confirmed" %>
              <div class="form-container d-none" data-newreview-target="reviewform">
                <%= render 'reviews/new' %>
              </div>
              <p class="text-center">Leave a review for your last stay at <%= @toilet.name %> <button type="button" class="btn-submit" data-action="click->newreview#show">Review</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="p-3" style="width: 100%; height: 450px;"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @marker.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>
    </div>
  </div>
</div>
