 <div class="container">
  <div class="row">
    <div class="col-12">
    <div class="carousel-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @toilet.photos.first.key, height: 300, crop: :fill %>')">
    </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <h1><%=@toilet.user.first_name%> <%=@toilet.user.last_name%> welcomes you at <%=@toilet.name%></h1>
      <p>
        <%=@toilet.description%>
      </p>
    </div>
    <%= render "shared/flash" %>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <% if current_user == @toilet.user%>

      <%else%>
        <div class="p-3"><%= render "bookings/new" %></div>
      <%end%>
       <div class="p-3" style="width: 100%; height: 450px;"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @marker.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>
      </div>
    </div>
</div>
