<%= form_for(@toilet) do |f| %>
  <p>
    <%= f.label :toilet %><br />
    <% for toilet in Toilet.all %>
      <%= check_box_tag "toilet[feature_ids][]", feature.id, @toilet.features.include?(feature) %>
      <%=h feature.name %><br />
    <% end %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
